*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  place-content: center;
}

.buttons {
  display: flex;
  gap: 2em;
}

button {
  padding: 1em 2em;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid black;
}
